<div class="section">    
	<div class="section-content">
		<ul class="plain-list">
            <li><a href="http://www.redsalud.gov.cl/portal/url/page/minsalcl/g_varios/eligeprevenir/page_1.html" target="_blank"><img alt="" 
                 src="@Url.Content("~/Content/img/banners/banner_invierno.jpg")" /></a></li>
            <li><a href="http://augeenlinea.fonasa.cl/portal/" target="_blank"><img alt="" 
                 src="@Url.Content("~/Content/img/banners/auge.jpg")" /></a></li>
		    <li><a href="http://augeenlinea.fonasa.cl/portal/paginas/queEsBonoAuge.jsp" target="_blank"><img alt="" src="@Url.Content("~/Content/img/banners/bono_auge.jpg")" /></a></li>
            <li><a href="http://www.saludresponde.cl/" target="_blank"><img alt="" 
                 src="@Url.Content("~/Content/img/banners/salud_responde.jpg")" /></a></li>
                 <li><a href="http://www.cdc.gob.cl/" target="_blank"><img alt="" 
                 src="@Url.Content("~/Content/img/banners/defensora_ciudadana_a.jpg")" /></a></li>
            <li><a href="http://webhosting.redsalud.gov.cl/transparencia/?id=SSATACAMA" target="_blank"><img 
                 alt="" src="@Url.Content("~/Content/img/banners/gob_transparente.jpg")" /></a></li>			
		</ul>						
	</div>
</div>

<div class="section-title">SERVICIOS</div>

<div class="section">    
	<div class="section-content">
		<ul class="plain-list">            
            <li><a href="http://soa.idbc.cl/seremi/IngresoOIRSPasoUno.do?accion=init" target="_blank"><img alt="" 
                 src="@Url.Content("~/Content/img/banners/oirs_virtual.jpg")" /></a></li>
            <li><a href="http://saludatacama.cl/newatac/" target="_blank"><img alt="" 
                src="@Url.Content("~/Content/img/banners/atacamenos.jpg")" /></a></li>
            <li><a href="http://saludatacama.cl/postonline/" target="_blank"><img alt="" 
                 src="@Url.Content("~/Content/img/banners/postulacion.jpg")" /></a></li>
            <li><a href="http://saludatacama.cl/postonline/seleccionados.asp" target="_blank"><img alt="" 
                 src="@Url.Content("~/Content/img/banners/resultado_concursos.jpg")" /></a></li>
            <li><a href="http://200.54.170.197/estadisticas2006/nuevosinformes/menuinicio.asp" target="_blank"><img alt="" 
                 src="@Url.Content("~/Content/img/banners/estadisticas.jpg")" /></a></li>
            <li><a href="http://moodle.uvirtual.cl/siminsal/" target="_blank"><img alt="" 
                 src="@Url.Content("~/Content/img/banners/capacitacion.jpg")" /></a></li>
            <li><a href="http://moodle.biblioredes.cl/" target="_blank" ><img alt="" 
                 src="@Url.Content("~/Content/img/banners/biblioredes.jpg")" /></a>
                 <a href="http://www.e-sectorpublicodesalud.cl/" target="_blank" ><img alt="" 
                 src="@Url.Content("~/Content/img/banners/teleduc.jpg")" /></a></li>
		</ul>						
	</div>
</div>