<div class="sc_menu" style="background: #FFF; height: 100px;">
	<ul class="sc_menu">
            <li><a href="http://www.eligevivirsano.cl/" target="_blank">&nbsp;<img alt="" 
                 src="@Url.Content("~/Content/img/banners/vivir_sano.gif")" /></a></li>
            <li><a href="http://www.minsal.gob.cl/portal/url/page/minsalcl/g_proteccion/g_pni/presentacion_pni.html" target="_blank">&nbsp;<img alt="" 
                 src="@Url.Content("~/Content/img/banners/inmunizaciones.png")" /></a></li>		    
            <li><a href="http://www.minsal.gob.cl/portal/docs/page/minsalcl/g_general/elementos/trasplantes.pdf" target="_blank">&nbsp;<img alt="" 
                 src="@Url.Content("~/Content/img/banners/donacion_organos.jpg")" /></a></li>
                 <li><a href="http://www.chileatiende.cl/" target="_blank">&nbsp;<img alt="" 
                 src="@Url.Content("~/Content/img/banners/chile_atiende.jpg")" /></a></li>
            <li><a href="http://www.minsal.gob.cl/portal/docs/page/minsalcl/g_general/elementos/hanta.jpg" target="_blank">&nbsp;<img 
                 alt="" src="@Url.Content("~/Content/img/banners/hanta.jpg")" /></a></li>
            <li><a href="http://www.minsal.gob.cl/portal/url/item/b89e911085a830ace0400101650115af.pdf" target="_blank">&nbsp;<img 
                 alt="" src="@Url.Content("~/Content/img/banners/estrategia.jpg")" /></a></li>
            <li><a href="http://saludatacama.cl/PDS/AUGE/PlanAuge.pdf" target="_blank">&nbsp;<img 
                 alt="" src="@Url.Content("~/Content/img/banners/garantias_auge.jpg")" /></a></li>
	</ul>	
</div>